<link rel="stylesheet" href="\css\_footer.css" />

<footer>
  <ul>
    <li>Powered by</li>
    <a href="https://nodejs.org/en/docs/" title="NodeJS" target="_blank"
      ><li><i class="fa-brands fa-node-js"></i></li
    ></a>
    <a href="https://www.mongodb.com/docs/" title="MongoDB" target="_blank">
      <li><i class="fa-solid fa-database"></i></li
    ></a>
    <a href="https://www.heroku.com/" title="Heroku" target="_blank">
      <li><i class="fa-solid fa-code-branch"></i></li
    ></a>
  </ul>
</footer>
