<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--FONTS-->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--FONT AWESOME-->
    <script
      src="https://kit.fontawesome.com/f49c176164.js"
      crossorigin="anonymous"
    ></script>
    <!--CSS-->
    <link rel="stylesheet" href="\css\new.css" />
    <title>New | BrooBlog</title>
  </head>
  <body>
    <%- include('_navbar'); %>
    <form action="/article" method="POST" id="newForm">
      <h1 id="newHeaderTitle">New article</h1>
      <div id="newTitle">
        <p id="newTitleTag">title</p>
        <span>/</span>
        <input
          required
          type="text"
          value="<%= article.title %>"
          name="title"
          id="newTitleInput"
        />
      </div>
      <div id="newDescription">
        <p id="newDescriptionTag">description</p>
        <span>/</span>
        <input
          required
          type="text"
          value="<%= article.description %>"
          name="description"
          id="newDescriptionInput"
        />
      </div>
      <div id="newContent">
        <textarea required name="content" id="content"></textarea>
      </div>
      <button type="submit" value="<%= article.content %>" id="newHeaderSubmit">
        Create
      </button>
    </form>
    <!--JS-->
    <script src="/js/new.js"></script>
  </body>
</html>
