/*--------
    GLOBAL
----------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

:root {
  --BGprimaryDark: rgb(31, 31, 31);
  --BGsecondaryDark: rgb(63, 63, 63);
  --BGprimaryLight: rgb(241, 243, 245);
  --BGsecondaryLight: white;
  --Textdark: white;
  --Textlight: rgb(31, 31, 31);
  --Disabled: rgb(150, 150, 150);
  --Tertiary: indianred;
  --Boxshadow: 5px 5px 5px rgba(0, 0, 0, 0.13);
}

footer {
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 0.2s;
}

footer > a,
footer > ul {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  cursor: default;
}

footer > ul > a {
  color: var(--Tertiary);
  font-size: 20px;
  cursor: pointer;
}

footer > ul {
  justify-content: space-evenly;
}

/*---------------
    MEDIA QUERIES
-----------------*/

@media only screen and (max-width: 500px) {
  footer > ul {
    width: 100%;
  }
}
